**/\.bloop/
**/\.bsp/
**/\.idea/
**/\.metals/
**/\.vscode/
**/null/
**/target/
**/log/
**/metals.sbt
**/dedupfs-*.zip
**/dedupfs-*.tar.gz
/data/
/dedupfs-temp/
/fsdb/
OpenJDK11U-jre_x64_*
