<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %.-3level %-15logger{15} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <appender name="timeBasedFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/dedupfs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/old/dedupfs.%d.gz</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="asyncTimeBasedFile" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="timeBasedFile"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="asyncConsole"/>
        <appender-ref ref="asyncTimeBasedFile"/>
    </root>
</configuration>
