<configuration>
    <appender name="console-info" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="asyncConsole-info" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console-info"/>
    </appender>

    <appender name="console-warn" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>*** %-5level *** %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="asyncConsole-warn" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console-warn"/>
    </appender>

    <appender name="timeBasedFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE:-log}/dedupfs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASE:-log}/old/dedupfs.%d.%i.gz</fileNamePattern>
            <maxHistory>100</maxHistory>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>            
            <pattern>%date %-5level %-11logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="asyncTimeBasedFile" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="timeBasedFile"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="asyncConsole-info"/>
        <appender-ref ref="asyncConsole-warn"/>
        <appender-ref ref="asyncTimeBasedFile"/>
    </root>
</configuration>
