.illegalValue {
    -fx-border-width: 0px 5px 0px 5px;
    -fx-border-color: red;
}

.activePanel {
    -fx-background-color: linear-gradient(white, yellow);
}

.sizeColumn {
    -fx-alignment: CENTER-RIGHT;
}
