<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- core -->
  <logger name="net.diet_rich" level="info"/>

  <!-- ftpserver -->
  <logger name="org.apache.ftpserver" level="warn"/>

  <!-- davserver -->
  <!-- suppress warnings about properties that can't be set, e.g. Win32FileAttributes -->
  <!-- TODO investigate whether these properties are relevant and how they can be retrieved -->
  <logger name="io.milton.http.webdav.PropertySourcePatchSetter" level="error"/>
  <!-- suppress warning from DefaultMiltonConfigurator about missing custom ResourceFactory name -->
  <logger name="io.milton.servlet.DefaultMiltonConfigurator" level="error"/>
  <!-- suppress warning that no method handler for LOCK is available without dav level 2 -->
  <logger name="io.milton.http.StandardFilter" level="error"/>
  <!-- suppress other log messages -->
  <logger name="io.milton" level="warn"/>
  <logger name="org.eclipse.jetty" level="warn"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>