<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="net.diet_rich" level="info"/>

  <!-- suppress warnings about properties that can't be set, e.g. Win32FileAttributes -->
  <!-- TODO investigate whether these properties are relevant and how they can be retrieved -->
  <logger name="io.milton.http.webdav.PropertySourcePatchSetter" level="error"/>
  
  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>